# para rodar em vm
# python -m venv venv
# venv\Scripts\activate
# pip install -r requirements.txt

# core
numpy
pandas
scikit-learn
tqdm
matplotlib

# NLP / transformers / deep learning
transformers
torch

# utilities
nltk

# web / API
flask
flask-cors